



 <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a href="#" class="scroll-top"><img src="/logo.png" width="300px" height="100px"></a>
                        <p style="color:white">Copyright &copy; 2018 Kshitij Education 
                      | Design: <span>T</span>ea<span>MUP</span></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="location">
                        <h4>Location</h4>
                        <ul>
                            <li>40/15, Pocket A, Shakti Nagar<br> Delhi, 110007</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="contact-info">
                        <h4>More Info</h4>
                        <ul>
                            <li><em>Phone</em>:<br> +91 98108 60991 <br>      + 91 11 47008740 <br>      +91 9810061580</li>
                            <li><em>Email</em>: sk23sk@hotmail.com </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="connect-us">
                        <h4>Get Social with us</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/KEhomepage" target="_parent"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>