<% include partials/header %>
<br><br><br><br><br>
    <div><h1>CLASS-12</h1></div>

     <div class="parallax-content banner-content" id="home">
        <div class="container-fluid">
          <div class="jumbotron" id="12syllabus" style="background-color: #c4ebf2">
            <h2>SYLLABUS</h2>
            
            <div class="list-group">
              <strong><a href="http://cbseacademic.nic.in/web_material/Curriculum19/Main-SeniorSecondary/6_Mathematics.pdf" class="list-group-item">Mathematics</a>
              <a href="http://cbseacademic.nic.in/web_material/Curriculum19/Main-SeniorSecondary/19_Accountancy.pdf" class="list-group-item">Accountancy</a>
              <a href="http://cbseacademic.nic.in/web_material/Curriculum19/Main-SeniorSecondary/17_Economics.pdf" class="list-group-item">Economics</a>
               <a href="http://cbseacademic.nic.in/web_material/Curriculum19/Main-SeniorSecondary/18_Business_Studies.pdf" class="list-group-item">Business Studies</a>
               <a href="http://cbseacademic.nic.in/web_material/Curriculum19/Main-SeniorSecondary/14_Computer_Science_OLD.pdf" class="list-group-item">Computer Science</a>
               <a href="http://cbseacademic.nic.in/web_material/Curriculum19/Main-SeniorSecondary/3_English_Core.pdf" class="list-group-item">English Core</a></strong>
              </div>
             </div>
             <br><br>

<div class="jumbotron"><h2>CBSE PREVIOUS YEARS QUESTION PAPERS</h2></div>
<div class="samplepapers">
<div class="column">
    <h3>Mathematics</h3>
     <div class="list-group">
              <strong><a href="http://www.mediafire.com/file/rpkiwepv3dqbgw7/cbse41qp2008.pdf" class="list-group-item">2008</a>
              <a href="http://www.mediafire.com/file/75v32f8cs5d67a4/cbse41qp09.pdf" class="list-group-item">2009</a>
              <a href="http://www.mediafire.com/file/07874ofr4t7xot4/cbse41qp10.pdf" class="list-group-item">2010</a>
               <a href="http://www.mediafire.com/file/034t3wio48wo6if/cbse41qp11.pdf" class="list-group-item">2011</a>
               <a href="http://www.mediafire.com/file/lfgd6xm33wtuqs8/cbse41qp12.pdf" class="list-group-item">2012</a>
               <a href="http://www.mediafire.com/file/j60uaut3603b0nl/cbse41qp13.pdf" class="list-group-item">2013</a>
             </strong>
              </div>
             </div>
    


<div class="column">
    <h3>Accountancy</h3>
    <div class="list-group">
              <strong><a href="http://www.mediafire.com/file/b84evypacgeb4xv/merged+paper.pdf" class="list-group-item">2008</a>
              <a href="http://www.mediafire.com/file/3c66t6d7kx5yrkb/cbseACCqp09.pdf" class="list-group-item">2009</a>
               <a href="http://cbse.nic.in/curric~1/qp2013/QP_MAIN/QP_X11/Accountancy_Code_%20No_67.pdf" class="list-group-item">2013</a>
               <a href="https://www.firedrive.com/file/1C4737C519DEB39A" class="list-group-item">2014</a>
             </strong>
              </div>
     
             </div>
  

<div class="column">
    <h3>Economics</h3>
     <div class="list-group">
              <strong><a href="http://www.mediafire.com/file/n37x6v28gl29rpl/cbse30qp08.pdf" class="list-group-item">2008</a>
              <a href="http://www.mediafire.com/file/yy3t344ayx9i90i/cbse30qp09.pdf" class="list-group-item">2009</a>
              <a href="http://www.mediafire.com/file/ajtma1pil469tia/cbse30qp10.pdf" class="list-group-item">2010</a>
               <a href="http://www.mediafire.com/file/babo1kdoqpvteeh/cbse30qp11.pdf" class="list-group-item">2011</a>
               <a href="http://www.mediafire.com/file/gkxnc9udhq8wc12/cbse30qp12.pdf" class="list-group-item">2012</a>
               <a href="http://www.mediafire.com/file/75pac62ffw5zz7w/cbse30qp13.pdf" class="list-group-item">2013</a>
             </strong>
              </div>
    
             </div>
    


<div class="column">
    <h3>Computer Science</h3>
     <div class="list-group">
              <strong><a href="http://www.mediafire.com/file/s14hthtk9gzt5aw/cbse83qp08.pdf" class="list-group-item">2008</a>
              <a href="http://www.mediafire.com/file/vkootbwltpnd6k2/cbse83qp09.pdf" class="list-group-item">2009</a>
              <a href="http://www.mediafire.com/file/kgra115ylfzwpd5/cbse83qp10.pdf" class="list-group-item">2010</a>
               <a href="http://www.mediafire.com/file/5j13yz0eqkqxk7i/cbse83qp11.pdf" class="list-group-item">2011</a>
               <a href="http://www.mediafire.com/file/opc69ai3j07xqtl/cbse83qp12.pdf" class="list-group-item">2012</a>
               <a href="http://www.mediafire.com/file/okbaxz5jmc4asbs/cbse83qp13.pdf" class="list-group-item">2013</a>
             </strong>
              </div>

     
             </div>
  

<div class="column">
    <h3>Business Studies</h3>
     <div class="list-group">
              <strong><a href="http://www.mediafire.com/file/lg5nojs75b34r5l/cbseBSqp08.pdf" class="list-group-item">2008</a>
              <a href="http://www.mediafire.com/file/dwb5arhd2jw7crx/cbseBSqp09.pdf" class="list-group-item">2009</a>
              <a href="http://www.mediafire.com/file/byavcq3ioub8ubb/cbseBSqp10.pdf" class="list-group-item">2010</a>
               <a href="http://www.mediafire.com/file/ypvn0akd8fpkaaq/cbseBSqp11.pdf" class="list-group-item">2011</a>
               <a href="http://www.mediafire.com/file/jrd9p5gygi99s2x/cbseBSqp12.pdf" class="list-group-item">2012</a>
               <a href="http://www.mediafire.com/file/x5awa5aj2hgz1dz/cbseBSqp13.pdf" class="list-group-item">2013</a>
             </strong>
              </div>
     
             </div>

    <div class="column">
    <h3>English Core</h3>
     <div class="list-group">
              <strong><a href="http://www.mediafire.com/file/55lnrq9u9qa5b01/cbse301qp08.pdf" class="list-group-item">2008</a>
              <a href="http://www.mediafire.com/file/di5w0wc5fe3n6pv/cbse301qp09.pdf" class="list-group-item">2009</a>
              <a href="http://www.mediafire.com/file/bpdyn73ayrfpan8/cbse301qp10.pdf" class="list-group-item">2010</a>
               <a href="http://www.mediafire.com/file/j1n5ke6ul8b5aqj/cbse301qp11.pdf" class="list-group-item">2011</a>
               <a href="http://www.mediafire.com/file/czw4ylljy9aknqt/cbse301qp12.pdf" class="list-group-item">2012</a>
               <a href="http://www.mediafire.com/file/5gfqz9fg166s5iu/cbse301qp13.pdf" class="list-group-item">2013</a>
             </strong>
              </div>
    
             </div>
</div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="jumbotron"></div>


                     <br><br>

<div class="jumbotron" style="background-color: #c4ebf2"><h2>ASSIGNMENTS</h2></div>
<div class="assignments">
<div class="column">
    <h3>Mathematics</h3>
     <div class="list-group">
              <strong><a href="http://www.mediafire.com/file/u8onj8mcofb72uk/integration-1.pdf" class="list-group-item">Integration</a>
              <a href="http://www.mediafire.com/file/d1d16k988sllnka/LPP.pdf" class="list-group-item">Linear Programming</a>
              <a href="http://www.mediafire.com/file/8fo55in8uckwf4u/AOD.pdf" class="list-group-item">Application of Derivatives</a>
             </strong>
              </div>
             </div>
    


<div class="column">
    <h3>Accountancy</h3>
    <div class="list-group">
              <strong><a href="https://app.box.com/s/wut1ptplhupfksw14jfs" class="list-group-item">Debentures</a>
              
             </strong>
              </div>
     
             </div>
  

<div class="column">
    <h3>Economics</h3>
     <div class="list-group">
              <strong><a href="http://www.mediafire.com/file/4149kaz4pd1vlv8/ECO-QUESTIONBANK-CHAPTER-01.pdf" class="list-group-item">Unit-1</a>
              <a href="http://www.mediafire.com/file/4n135j24138k8as/ECO-QUESTIONBANK-CHAPTER-02.pdf" class="list-group-item">Unit-2</a>
              <a href="http://www.mediafire.com/file/1faxdpc2bh2evv4/ECO-QUESTIONBANK-CHAPTER-6.pdf" class="list-group-item">Unit-6</a>
               <a href="http://www.mediafire.com/file/7f5eqdx09w86ep1/ECO-QUESTIONBANK-CHAPTER-7.pdf" class="list-group-item">Unit-7</a>
               <a href="http://www.mediafire.com/file/ldsa7x5vo8r8fr2/ECO-QUESTIONBANK-CHAPTER-8.pdf" class="list-group-item">Unit-8</a>
               <a href="http://www.mediafire.com/file/wy90bgm6243ye2e/ECO-QUESTIONBANK-CHAPTER-9.pdf" class="list-group-item">Unit-9</a>
               <a href="http://www.mediafire.com/file/6f57qxjn88cdvda/ECO-QUESTIONBANK-CHAPTER-10.pdf" class="list-group-item">Unit-10</a>
               <a href="http://www.mediafire.com/file/lpp3gf9k8hd7cic/macro-numericals.pdf" class="list-group-item">Macro Numericals</a>
               <a href="https://www.mediafire.com/file/yxftdzr7o5xpkjc/Eco+MCQ.pdf" class="list-group-item">2015 MCQ</a>
               <a href="https://www.mediafire.com/file/67ntdhhpb5l42eu/Ans-Eco+MCQ.pdf" class="list-group-item">2015 MCQ Answers</a>
             </strong>
              </div>
    
             </div>
    


<div class="column">
    <h3>Computer Science</h3>
     <div class="list-group">
              <strong><a href="http://www.mediafire.com/file/kkaithid89lgtqd/CS.rar" class="list-group-item">Sample Paper</a>
              <a href="http://www.mediafire.com/file/kkaithid89lgtqd/CS.rar" class="list-group-item">Marking Scheme</a>
        
             </strong>
              </div>

     
             </div>
  

<div class="column">
    <h3>Business Studies</h3>
     <div class="list-group">
              <strong><a href="http://www.firedrive.com/file/AD434A2847329B35" class="list-group-item">Syllabus Subdivision</a>
              <a href="http://www.firedrive.com/file/1C260C6DD6A3F62F" class="list-group-item">SQP by CBSE</a>
             </strong>
              </div>
     
             </div>

    <div class="column">
    <h3>English Core</h3>
     <div class="list-group">
              <strong><a href="https://app.box.com/s/vvaqe84llyq0c0ucm59g" class="list-group-item">Language</a>
              <a href="https://app.box.com/s/88sfrqeaqbk6ff9vnnqz" class="list-group-item">Literature</a>
              <a href="https://app.box.com/s/rejxhx8zyjnmrifb8jhi" class="list-group-item">Invisible Man</a>
               <a href="https://app.box.com/s/mlu4niij0ekhpwkj4gq1" class="list-group-item">Silas Manor</a>
               <a href="https://app.box.com/s/jlkyptksgler8mtdd64r" class="list-group-item">Paper-1</a>
               <a href="https://app.box.com/s/8ptesrexteib03unorgh" class="list-group-item">Paper-2</a>
               <a href="https://app.box.com/s/5wlb2kiho4f629xbcemx" class="list-group-item">Paper-3</a>
               <a href="https://app.box.com/s/5wlb2kiho4f629xbcemx" class="list-group-item">Paper-4</a>
               <a href="http://www.mediafire.com/view/33yci83750i557o/Question_Bank_English_Class_XII_.pdf" class="list-group-item">Assignments by KVS</a>
               <a href="http://www.mediafire.com/download/v8s2dbx4r5dzr0m/english.rar" class="list-group-item">Papers by KVS</a>
             </strong>
              </div>
    
             </div>
</div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="jumbotron" style="background-color: #c4ebf2"></div>
        <br><br>
        <div class="jumbotron" id="mathsolved">
            <h2>MATHEMATICS SOLVED QUESTIONS</h2>
            
            <div class="list-group">
              <strong><a href="http://download1082.mediafire.com/vj629h7v90sg/tmt84vl2v3kbo56/findingimageofapointthroughaplane.pdf" class="list-group-item">(3D)Find image of a point in a plane </a>
              <a href="http://download948.mediafire.com/w5sbky6pqjkg/rda2rdw8fa7ga7a/3D-0001.pdf" class="list-group-item">(3D)Intersection of two coplanar lines</a>
              <a href="http://download1508.mediafire.com/yfkbdrwkzypg/3w6lgohy874r4rh/3D-0002.pdf" class="list-group-item">(3DFinding foot of perpendicular of a point on a line and also find the image of point in the line</a>
               <a href="http://download1582.mediafire.com/23107953hcqg/2o3yndb0jwnr1fy/3D-0003.pdf" class="list-group-item">(3D)Finding distance of a point from a plane measured parallel to a line</a>
               </strong>
              </div>
             </div>

        </div>
        </div>

<% include partials/footer %>

        