<!DOCTYPE html>
<% include partials/header %>
    <!--/.header-->
<br><br><br><br><br>
    <div><h1>INTRODUCTION</h1></div>
    <div class="parallax-content banner-content" id="home">
        <div class="container">

          <div class="jumbotron" style="background-color: black">
            <div class="introduction">
      
            <img src="/logo.png" ><br><br>
            <div class="jumbotron">
            <p><h3>
             <strong> An educational institute for CBSE supplementary studies &
Vedic Mathematics Training Center.
</strong></h3></p>
<p><h3>
             <strong>We are a <i>parivar</i> of students, their parents and teacher-cum-mentors.
</strong></h3></p>



</div>

              
          </div>
        </div>
      </div>
    </div>


   <% include partials/footer %>