<!DOCTYPE html>
<% include partials/header %>
    
<br><br><br><br><br>
    <div><h1>OUR TEAM</h1></div>
    <div class="parallax-content banner-content" id="home">
        <div class="container">

          <div class="jumbotron">
            <div class="chiefmentor">
            <h2>CHIEF MENTOR</h2><br>
            <img src="/sunilsir.jpg" >
            <p><h3>
             <strong> SUNIL K. AGARWALA</strong></h3></p>
<p>CBSE Topper 1982 All India Senior Secondary</p>
<p>
<strong>1985</strong>
B.Com(H) SRCC, University of Delhi
(Among top 10)</p>
<p>
<strong>1988</strong>
Master of Computer Application,
University of Delhi
(University Topper)
</p>
<p>
<strong>1988-91</strong>
Lecturer, Department of Computer Science
Dayal Singh College, University of Delhi</p>
<p>
<strong>2008</strong>
Chief Mentor, Kshitij Education</p>
</h3>
              </p>
          </div>
        </div>
      </div>
    </div>


   <% include partials/footer %>