<!DOCTYPE html>
<% include partials/header %>
<br><br><br><br><br>
    <div><h1><%= user %></h1></div>
    <div class="parallax-content banner-content" id="home">
        <div class="container">
            
        
            <div class="wrapper">
  <div class="content">
    <figure class="myimg">
      <img src="/raghav1.jpg">
     
    </figure><br><div class="container">" Kshitij Education has provided me with excellent resources for exam preparation. The number of full course examinations conducted here relieves the students of all the exam pressure during the 12th Boards. The guidance provided by Sunil sir helps the students cultivate a sense of self-motivation to perform well in exams as well as other spheres of life. I would always be thankful to Kshitij Education for excelling in my career. "<br><br>
    <p>Raghav Agarwala, SRCC graduate</p></div>
  </div>
</div>
<br><br>

<div class="wrapper">
  <div class="content">
    <figure class="myimg">
      <img src="/aditi1.jpg">
      
    </figure><br><div class="container"> " My experience with Kshitij Education has been enriching. I am thankful to Sunil sir's guidance paired with the simplicity in his teaching and all the study material in the form of mock tests were instrumental in making me realise my full potential. My concepts became strong over time. The full course examinations conducted by the institute helped me grab all the topics and gave me a lot of confidence. "<br><br>
     <p>Aditi Singhal, Indrapastha College for Women, DU</p></div>
  </div>
</div>
<br><br>

<div class="wrapper">
  <div class="content">
    <figure class="myimg">
      <img src="/komal.jpg">


    </figure><br><div class="container">" I feel lucky that I chose Kshitij Education for helping me out throughout my class 12th journey. I have my basic concepts strong and good grades is because Sunil sir had been an amazing teacher. The assignments which we received here covered every concept that I doubt any other reference book would do. With regular tests, I always remained at par with our course and also finished the course well before time. Kshitij Education had definitely made my class 12 journey an easy one than I expected. "<br><br>
     <p>Komal Gupta, Kirorimal College, DU</p></div>
  </div>
</div>
<br><br>
        </div>
    </div>



   <% include partials/footer %>