<% include partials/header %>
<br><br><br><br><br>
    <div><h1>WALL OF FAME</h1></div>

     <div class="parallax-content banner-content" id="home">
        <div class="container-fluid">
          <div class="table-responsive">
            <div class="jumbotron jumbotron-fluid">
              <h2>2018</h2>
              <table class="table">
    <thead>
      <tr>
        <th>NAME</th>
        <th>SCHOOL</th>
        <th>PERCENTAGE</th>
        <th>MATHEMATICS</th>
        <th>ACCOUNTANCY</th>
        <th>ECONOMICS</th>
        <th>BUSINESS STUDIES</th>
        <th>COMPUTER SCIENCE</th>
      </tr>
    </thead>
    <tbody>    
      <tr class="success">
        <td>Dhairya Aggarwal</td>
        <td>Sardar Patel</td>
        <td>97.25%</td>
        <td>99</td>
        <td>97</td>
        <td>96</td>
        <td>98</td>
        <td>-</td>
      </tr>
      <tr class="danger">
        <td>Harshit Jain</td>
        <td>Manavsthali School</td>
        <td>96.50%</td>
        <td>98</td>
        <td>95</td>
        <td>97</td>
        <td>97</td>
        <td>-</td>
        
      </tr>
      <tr class="info">
        <td>Sarthak Aggarwal</td>
        <td>Bal Bharati Public School</td>
        <td>95%</td>
        <td>95</td>
        <td>92</td>
        <td>95</td>
        <td>94</td>
        <td>-</td>
      </tr>

         <tr class="success">
        <td>Akriti Gupta</td>
        <td>Mata Jai Kaur</td>
        <td>98%</td>
        <td>-</td>
        <td>-</td>
        <td>99</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr class="danger">
        <td>Manya Manushi</td>
        <td>Modern School</td>
        <td>96%</td>
        <td>-</td>
        <td>-</td>
        <td>99</td>
        <td>-</td>
        <td>-</td>
        
      </tr>
      <tr class="info">
        <td>Utkarsh Aggarwal</td>
        <td>Goodley School</td>
        <td>-</td>
        <td>95</td>
        <td>93</td>
        <td>95</td>
        <td>95</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

           
            </div>
          </div>  
        </div>


        <div class="container-fluid">
          <div class="table-responsive">
            <div class="jumbotron jumbotron-fluid">
              <h2>2017</h2>
              <table class="table">
    <thead>
      <tr>
        <th>NAME</th>
        <th>SCHOOL</th>
        <th>PERCENTAGE</th>
        <th>MATHEMATICS</th>
        <th>ACCOUNTANCY</th>
        <th>ECONOMICS</th>
        <th>BUSINESS STUDIES</th>
        <th>COMPUTER SCIENCE</th>
      </tr>
    </thead>
    <tbody>    
      <tr class="success">
        <td>Komal Gupta</td>
        <td>Mater Dei</td>
        <td>97%</td>
        <td>99</td>
        <td>95</td>
        <td>100</td>
        <td>96</td>
        <td>-</td>
      </tr>
      <tr class="danger">
        <td>Aditi Singhal</td>
        <td>Apeejay School</td>
        <td>96%</td>
        <td>97</td>
        <td>93</td>
        <td>100</td>
        <td>97</td>
        <td>-</td>
        
      </tr>
      <tr class="info">
        <td>Sneha Aggarwal</td>
        <td>Srijan School</td>
        <td>95%</td>
        <td>95</td>
        <td>93</td>
        <td>95</td>
        <td>95</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

           
            </div>
          </div>  
        </div>


        <div class="container-fluid">
          <div class="table-responsive">
            <div class="jumbotron jumbotron-fluid">
              <h2>2016</h2>
              <table class="table">
    <thead>
      <tr>
        <th>NAME</th>
        <th>SCHOOL</th>
        <th>PERCENTAGE</th>
        <th>MATHEMATICS</th>
        <th>ACCOUNTANCY</th>
        <th>ECONOMICS</th>
        <th>BUSINESS STUDIES</th>
        <th>COMPUTER SCIENCE</th>
      </tr>
    </thead>
    <tbody>    
      <tr class="success">
        <td>Khushboo Aggarwal</td>
        <td>Goodley Scchool</td>
        <td>95%</td>
        <td>95</td>
        <td>95</td>
        <td>97</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr class="danger">
        <td>Ayush Aggarwal</td>
        <td>Modern School</td>
        <td>95%</td>
        <td>95</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>99</td>
        
      </tr>
    </tbody>
  </table>

           
            </div>
          </div>  
        </div><div class="container-fluid">
          <div class="table-responsive">
            <div class="jumbotron jumbotron-fluid">
              <h2>2015</h2>
              <table class="table">
    <thead>
      <tr>
        <th>NAME</th>
        <th>SCHOOL</th>
        <th>PERCENTAGE</th>
        <th>MATHEMATICS</th>
        <th>ACCOUNTANCY</th>
        <th>ECONOMICS</th>
        <th>BUSINESS STUDIES</th>
        <th>COMPUTER SCIENCE</th>
      </tr>
    </thead>
    <tbody>    
      <tr class="success">
        <td>Abhinav Aggarwal</td>
        <td>DPS Rohini</td>
        <td>96.25%</td>
        <td>95</td>
        <td>100</td>
        <td>95</td>
        <td>95</td>
        <td>-</td>
      </tr>
      <tr class="danger">
        <td>Shubham Aggarwal</td>
        <td>Rosary School</td>
        <td>95%</td>
        <td>95</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>99</td>
        
      </tr>
    </tbody>
  </table>

           
            </div>
          </div>  
        </div><div class="container-fluid">
          <div class="table-responsive">
            <div class="jumbotron jumbotron-fluid">
              <h2>2014</h2>
              <table class="table">
    <thead>
      <tr>
        <th>NAME</th>
        <th>SCHOOL</th>
        <th>PERCENTAGE</th>
        <th>MATHEMATICS</th>
        <th>ACCOUNTANCY</th>
        <th>ECONOMICS</th>
        <th>BUSINESS STUDIES</th>
        <th>COMPUTER SCIENCE</th>
      </tr>
    </thead>
    <tbody>    
      <tr class="success">
        <td>Jayati Bhardwaj</td>
        <td>DPS RK Puram</td>
        <td>97%</td>
        <td>99</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>99</td>
      </tr>
      <tr class="danger">
        <td>Srishti Jain</td>
        <td>Salwan School</td>
        <td>96%</td>
        <td>100</td>
        <td>96</td>
        <td>95</td>
        <td>98</td>
        <td>-</td>
        
      </tr>
      <tr class="info">
        <td>Kriti Mathur</td>
        <td>Alchon School</td>
        <td>94%</td>
        <td>95</td>
        <td>92</td>
        <td>95</td>
        <td>89</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

           
            </div>
          </div>  
        </div><div class="container-fluid">
          <div class="table-responsive">
            <div class="jumbotron jumbotron-fluid">
              <h2>2013</h2>
              <table class="table">
    <thead>
      <tr>
        <th>NAME</th>
        <th>SCHOOL</th>
        <th>PERCENTAGE</th>
        <th>MATHEMATICS</th>
        <th>ACCOUNTANCY</th>
        <th>ECONOMICS</th>
        <th>BUSINESS STUDIES</th>
        <th>COMPUTER SCIENCE</th>
      </tr>
    </thead>
    <tbody>    
      <tr class="success">
        <td>Vaibhav Goel</td>
        <td>Montfort School</td>
        <td>96%</td>
        <td>99</td>
        <td>-</td>
        <td>99</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr class="danger">
        <td>Saloni Gupta</td>
        <td>Bal Bharati Public School</td>
        <td>94%</td>
        <td>92</td>
        <td>-</td>
        <td>99</td>
        <td>-</td>
        <td>-</td>
        
      </tr>
      <tr class="info">
        <td>Riya Kapur</td>
        <td>DPS Rohini</td>
        <td>94%</td>
        <td>92</td>
        <td>-</td>
        <td>95</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

           
            </div>
          </div>  
        </div><div class="container-fluid">
          <div class="table-responsive">
            <div class="jumbotron jumbotron-fluid">
              <h2>2012</h2>
              <table class="table">
    <thead>
      <tr>
        <th>NAME</th>
        <th>SCHOOL</th>
        <th>PERCENTAGE</th>
        <th>MATHEMATICS</th>
        <th>ACCOUNTANCY</th>
        <th>ECONOMICS</th>
        <th>BUSINESS STUDIES</th>
        <th>COMPUTER SCIENCE</th>
      </tr>
    </thead>
    <tbody>    
      <tr class="success">
        <td>Raghav Agarwala</td>
        <td>Bal Bharati Public Scchool</td>
        <td>96.75%</td>
        <td>98</td>
        <td>95</td>
        <td>95</td>
        <td>99</td>
        <td>-</td>
      </tr>
      <tr class="danger">
        <td>Aashna Jain</td>
        <td>St. Thomas' School</td>
        <td>98.25%</td>
        <td>95</td>
        <td>-</td>
        <td>95</td>
        <td>-</td>
        <td>-</td>
        
      </tr>
      <tr class="info">
        <td>Sarthak Jain</td>
        <td>Sardar Patel</td>
        <td>93%</td>
        <td>93</td>
        <td>-</td>
        <td>97</td>
        <td>-</td>
        <td>-</td>
    </tbody>
  </table>

           
            </div>
          </div>  
        </div>


     </div>    


    <% include partials/footer %>